<div class="ui padded grid">
  <div class="blue sixteen wide column row" id="blue-header">
      <div class="eight wide column" id="remove-padding-left"><a href="/#">
        <img class="ui bottom aligned medium image left floated" src="/images/SupersonicNews-Logo.svg" id="logo">
        <!--<span><h4 class="ui inverted header" id="supersonic">SuperSonic</h4>a "Redditbook"</span></a>-->
      </div>
      <div class="eight wide column" id="menu-container">
          <div class="ui list" ng-controller="NavCtrl">
              <!-- SIDEBAR -->
              <div class="ui icon toggle button right floated" id="sidebar-button">
                  <i class="content icon big"></i>
              </div>

              <!-- SIDEBAR -->
            <!--<div class="item" ng-show="signedIn()">
              <div class="ui list" style="padding:0;">

                <div class="item">
                  <div class="right floated" ng-click="logout()">Logout &nbsp;<i class="sign out icon large"></i></div>
                </div>
                <div class="item">
                  <div class="right floated"><img class="ui top aligned avatar image" src="/images/avatar/guy.jpg"></div>
                  <div class="content right floated">
                    <p class="header ui right aligned" id="nav-username">{{ user.profile.username }}</p>
                    <h6 id="watching"><i>watched</i> <b>Breaking Bad</b> <i>just now.</i></h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" ng-hide="signedIn()">
              <div class="right floated compact ui button"><a href="#/login">Login</a></div>
              <div class="right floated compact ui button"><a href="#/register">Register</a></div>
            </div>-->
          </div>
        </div>
      </div>
              <!--<li ng-show="signedIn()">
                <a ng-href="#/users/{{ user.profile.uid }}">
                  <img ng-src="http://www.gravatar.com/avatar/{{ user.profile.md5_hash }}" class="nav-pic" />
                  {{ currentUser.username }}
                </a>
              </li>-->

        <script>
          $('.right.sidebar').first()
            .sidebar('setting', 'transition', 'uncover')
            .sidebar('attach events', '.toggle.button')
            .sidebar('attach events', '.menu .item')
          ;
        </script>

</div>






