

<div class="ui padded grid">
  <div class="blue sixteen wide column row" style="max-height:90px">
      <div class="seven wide column" style="padding-left:0;"><a href="/#">
        <img class="ui bottom aligned tiny image left floated" src="/images/SupersonicNews-Logo.svg" style="margin:0;margin-bottom:-1rem;">
        <span><h2 class="ui inverted header" style="margin-top:.5rem;">SuperSonic</h2>A Reddit News Clone</span></a>
      </div>
      <div class="nine wide column">
          <div class="ui list" ng-controller="NavCtrl">
            <div class="item" ng-show="signedIn()">
              <div class="ui list" style="padding:0;">
                <div class="item">
                  <div class="right floated" ng-click="logout()">Logout &nbsp;<i class="sign out icon large"></i></div>
                </div>
                <div class="item">
                  <div class="right floated"><img class="ui top aligned avatar image" src="/images/avatar/guy.jpg"></div>
                  <div class="content right floated">
                    <h4 class="header ui right aligned">{{ user.profile.username }}</h4>
                    <i>watched</i> <b>Breaking Bad</b> <i>just now.</i>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" ng-hide="signedIn()">
              <div class="right floated compact ui button"><a href="#/login">Login</a></div>
              <div class="right floated compact ui button"><a href="#/register">Register</a></div>
            </div>
          </div>
        </div>
      </div>
              <!--<li ng-show="signedIn()">
                <a ng-href="#/users/{{ user.profile.uid }}">
                  <img ng-src="http://www.gravatar.com/avatar/{{ user.profile.md5_hash }}" class="nav-pic" />
                  {{ currentUser.username }}
                </a>
              </li>-->
    <div class="one column row">
      <div class="white column">
        <h2 class="ui header">Features</h2>
        <p>First section of content</p>
      </div>
  </div>
</div>





