<!-- NEWS LINKS -->
<div class="ui padded grid">
  <div class="one column row">
    <div class="white column">

<div class="ui comments">
  <div ng-controller="NavCtrl" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <form class="navbar-form navbar-left" role="search" ng-submit="submitPost()" ng-show="signedIn()">
      <div class="ui one column middle aligned relaxed fitted stackable grid">
        <div class="column">
          <div class="ui form segment" id="post-form">
            <div class="field">
              <div class="huge ui fluid left icon input">
                <input type="text" placeholder="Add post..." ng-model="post.title" class="form-control" type="text">
                <i class="space shuttle icon"></i>
              </div>
            </div>
            <div class="field">
              <div class="huge ui fluid left icon input">
                <input type="text" placeholder="Add link..." ng-model="post.url" class="form-control">
                <i class="linkify icon"></i>
              </div>
            </div>
            <button class="huge 1 fluid ui secondary labeled icon button" type="submit">
              Add post&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="add icon"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>



  <div class="comment" ng-repeat="post in posts">
    <a class="ui avatar image">
      <img src="/images/avatar/guy.jpg">
    </a>
    <div class="content">
      <a class="author"><a ng-href="#/users/{{ post.creatorUID }}"><b>{{ post.creator }}</b></a></span></a>
      <div class="metadata">
        <span class="date">Yesterday at 12:30AM</span>
      </div>
      <a ng-click="deletePost(post)" ng-show="user.uid === post.creatorUID" class="close-post"><i class="blue remove circle icon large"></i></a>
        <div>
            <a ng-href="{{ post.url }}">
            {{ post.title }}</a><br><br>
            <span class="url">{{ post.url | hostnameFromUrl }}</span>
            <br><br>
        </div>
      <div class="actions">
        <a class="reply" ng-href="#/posts/{{ post.$id }}">Add comment...</a>
      </div>
    </div><br>
  

<!--  COMMENTS NESTED 

  <div ng-include src="'views/showpost.html'"></div>

 COMMENTS NESTED -->

<div class="ui horizontal divider"><i class="space shuttle icon"></i></div>



  </div>
</div>

<div>
  <div>
    <div class="comments">
      <div class="comment">
        <a class="avatar image">
          <img src="/images/avatar/jenny.jpg">
        </a>
        <div class="content">
          <p class="author"><a ng-href="#/profile/{{ comment.creatorUID }}">{{ comment.creator }}commenter name</a>
            <a ng-href="#/posts/{{ post.$id }}" ng-click="deleteComment(comment, $index)" ng-show="signedIn() && comment.creatorUID === user.uid">(delete)</a>
          </p>
          <div class="metadata">
            <span class="date">Just now</span>
          </div>
          <div class="text">
            {{ comment.text }}comments here
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
</div>
</div>

  
  <form class="ui reply form">
    <div class="field">
      <textarea></textarea>
    </div>
    <div class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Add Reply
    </div>
  </form>
</div>
      </div>
  </div>